# flock will avoid multiple runs
# change /path-to-repo-builder to wherever the folder is
 */30 * * * * /usr/bin/flock -w 0 /path-to-repo-builder/update.lock /path-to-repo-builder/update-repo.sh > /path-to-repo-builder/update.log 2> /path-to-repo-builder/update.log.err
